#registration{
    background: #fefefe;
    width: 100%;
    border: solid #fafafa 1px;
}

#registration form{
    display: flex;
    flex-direction: column;
    background: #cacaca;
    border: solid #000 1px;
    padding: 4px;
}

#registration form input{
    margin-bottom: 8px;
}




@media (min-width: 600px) {
    #registration{
        width: 40%;
    }
}
