#registration{
    background: #fefefe;
    width: 100%;
    border: solid #fafafa 1px;
}

#registration .registration_header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
#registration .registration_button{
    margin-top: 16px;
    padding:4px;
}
    
#registration form{
    display: flex;
    flex-direction: column;
    background: #dadce0;
    border: 1px solid #dadce0;
    padding: 4px;
    border-radius: 8px;
}

#registration form input{
    margin-bottom: 8px;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 4px;
}

#registration form label{
    font-size: 12px;
}



@media (min-width: 600px) {
    #registration{
        width: 40%;
    }
}
